
* {
    font-family: 'Prata', serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.padTop {
    padding-top: 20px;
}

#backImg {
    border-bottom: 7px solid #f5e5f3;
}

#textPink {
    text-transform: capitalize;
    font-weight: 100;
    color: #f5e5f3;
    border-radius: 0%;
}

#headshot {
    height: 150px;
    width: auto;
    border-radius: 40%;
    margin-bottom: 15px;
}

#resBtn {
    text-transform: capitalize;
}

#resBtn:hover {
    background-color: rgb(150, 148, 149);
    opacity: 50%;
}

#myProj {
    margin-left: 50px;
}

.card-img-top {
    min-height: 180px;
}

#cards {
    justify-content: center;
    margin: 10px;
}

/* .card {
    flex: 1 0 200px;
} */
.card-title {
    font-weight: bold;
}

.aboutSection {
    margin: 12px;
    background: #f5e5f3;
    height: 300px;
    border-radius: 10%;

}

.aboutPar {
    margin-top: 10px;
    font-size: 14px;
}

#chat {
    font-weight: bolder;
}

/* footer */

.purp {
    color: rgb(206, 78, 142);
}
#heart {
    color: #f5e5f3;
}

#contactList {
    text-align: center;
    padding: 40px 0;

}

#contactList ul {
    list-style-type: none;
    padding-left: 0;
}

#contactList li {

    /* display: flex; */
    justify-content: center;
    margin: 5px 20px;
    padding: 3px 7px;

}


/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    .card {
        width: 90vw;
        justify-content: center;
        margin: 5px;
    }
}

@media screen and (max-width: 600px) {
    .aboutSection {
        width: 90vw;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
    .aboutPar {
        font-size: 14px;
    }
}
